.anythingSlider {  
	width: 320px; 
	height: 170px; 
	position: relative; 
}
.anythingSlider .wrapper                { width: 320px; overflow: auto; height: 341px; position: absolute; top: 0; left: 0; }
.anythingSlider .wrapper ul             { width: 99999px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSlider ul li                   { display: block; float: left; padding: 0; height: 317px; width: 320px; }

.anythingSlider .arrow { 
	display: block; 
	height: 26px; 
	width: 17px;  
	text-indent: -9999px; 
	position: absolute; 
	top: 70px; 
	cursor: pointer; 
}

.anythingSlider .forward {
	background: url('../images/bkg-to-right.png') left top no-repeat; 
	right: -55px; 
}
.anythingSlider .back { 
	background: url('../images/bkg-to-left.png') left top no-repeat; 
	left: -95px; 
}
/*
.anythingSlider .forward:hover          { background-position: 0 -200px; }
.anythingSlider .back:hover             { background-position: -67px -200px; }
*/

#start-stop { display: none; }


.anythingSlider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }