{% include 'lib/header.html' %}
		<!-- content -->
		<div class="content clearfix">
			
			<h2>About us <span>/ Who we are</span></h2>
			<h3>At Syndetics, LLC, we aim to offer easy, turnkey solutions for unified cloud service management. Easily deploy and brand websites, blogs, e-mail, document collaboration, and calendaring services.</h3>
			
			<div class="left">
			
				<h4>Our Mission</h4>
				<p>We aim to reduce your IT overhead and put all your online services under one single umbrella. By taking advantage of cloud computing platforms, we work hard to reduce or eliminate your management
                                  headaches. No organization should ever have to put up with hard-to-update website, e-mail downtime, or data loss.</p>
			
			</div>

			<div class="right">
				
				<h4>Our Philosophy</h4>
				<p>In this day and age, technology should, well, "just work." There's no reason users should have to remember dozens of passwords for their day-to-day work.
                                  Updating your website should take seconds, and never require complicated technical jargon. Connecting to social media sites should take just a click of
                                  a button.</p>
			
			</div>
			
		</div>
		<!-- // content -->
{% include 'lib/footer.html' %}