{% include 'lib/header.html' %}

		<!-- content -->
		<div class="content clearfix">
			
			<h2>Contact Us <span>/ Explore your cloud potential</span></h2>
			<h3>No matter how complex, we can help you expand your organization's IT offerings, while simplifying management overhead. It's time to move to the cloud.</h3>
			
			<div class="leftsmall">
			
				<h4>Email</h4>
					<ul>
						<li>General - <a href="mailto:info@syndetics.net">info@syndetics.net</a></li>
						<li>Support - <a href="mailto:support@syndetics.net">support@syndetics.net</a></li>
					</ul>
			
			</div>

			<div class="rightlarge">
				
				<h4>Online contact form</h4>
				<p>Fill this form if you'd like to get in touch.</p>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="try{ if(submitted) {$('#contactform').hide().html('<br><h3>Thank you &mdash; Your message has been sent.</h3><br><br><br><br>').show();}}catch(err){}"></iframe>
					<form id="contactform" action="https://docs.google.com/a/syndetics.net/forms/d/1fd8iqw71u4vM0HGSB11IRjPVoqBbgf-44EwxMuZ9h5o/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;" class="global">
						<ul>						
							<li>

								<label for="name">Your Name</label>
								<input id="name" name="entry.1727900969" type="text" autocomplete="name">
							</li>
							<li>
								<label for="email">Your Email</label>
								<input id="email" name="entry.775709570" type="text" autocomplete="email">
							</li>
							<li>

								<label for="message">Message</label>
								<textarea id="message" name="entry.1499510760" rows="3" cols="40"></textarea>
							</li>
							<li>							
							 	<input type="submit" class="submit" value="Send Now">
							</li>
						</ul>
					</form>

			
			</div>
			
		</div>
		<!-- // content -->
{% include 'lib/footer.html' %}
