<?
$custom_css = 'assets/css/form.css';
require('lib/head.php');
?>

		<!-- content -->
		<div class="content clearfix">
			
			<h2>Contact Us <span>/ Explore your cloud potential</span></h2>
			<h3>No matter how complex, we can help you expand your organization's IT offerings, while simplifying management overhead. It's time to move to the cloud.</h3>
			
			<div class="leftsmall">
			
				<h4>Email</h4>
					<ul>
						<li>General - <a href="mailto:info@syndetics.net">info@syndetics.net</a></li>
						<li>Support - <a href="mailto:support@syndetics.net">support@syndetics.net</a></li>
					</ul>
			
			</div>

			<div class="rightlarge">
				
				<h4>Online contact form</h4>
				<p>Fill this form if you'd like to get in touch.</p>
                <!-- // onload="if(submitted) {window.location='https://epoxate.com/godot.html';}" -->
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
					<form id="contactform" action="https://spreadsheets.google.com/a/syndetics.net/formResponse?formkey=dDBMaDRKX3lJanhpM1VGTlFGeFlhSXc6MQ" method="post" target="hidden_iframe" onsubmit="submitted=true;">
						<ul>						
							<li>

								<label for="name">Your Name</label>
								<input id="name" name="entry.0.single" type="text" autocomplete="name">
							</li>
							<li>
								<label for="email">Your Email</label>
								<input id="email" name="entry.1.single" type="text" autocomplete="email">
							</li>
							<li>

								<label for="message">Message</label>
								<textarea id="message" name="entry.2.single" rows="3" cols="40"></textarea>
							</li>
							<li>							
							 	<input type="submit" class="submit" value="Send Now">
							</li>
						</ul>
					</form>
			
			</div>
			
		</div>
		<!-- // content -->

<?
require('lib/foot.php');
?>
